version: "3.9"

services:
  postgres:
    image: postgres:18.1
    container_name: lynkar-postgres
    restart: always

    env_file:
      - .env

    ports:
      - "${POSTGRES_PORT}:5432"

    volumes:
      - postgres-data:/var/lib/postgresql

    networks:
      - lynkar-net

volumes:
  postgres-data:

networks:
  lynkar-net:
    external: true